@using ProcedureMakerServer.Billing
@using ProcedureMakerServer.Billing.StatementDtos
@using ProcedureShared.Dtos

<div> 

</div>

@code {
	[Parameter]
	public InvoiceSummary InvoiceSummary { get; set; }

}
